@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
body {
    background: -webkit-linear-gradient(90deg, #8BC869 10%, #2AB0B1 90%);
    background: -moz-linear-gradient(90deg, #8BC869 10%, #2AB0B1 90%);
    background: -ms-linear-gradient(90deg, #8BC869 10%, #2AB0B1 90%);
    background: -o-linear-gradient(90deg, #8BC869 10%, #2AB0B1 90%);
    background: linear-gradient(90deg, #8BC869 10%, #2AB0B1 90%);
    font-family: 'Open Sans', sans-serif!important;
}
{
  padding: 0px;
  margin: 0px;
}

#utama {
background-size: cover;
height: 680px;
}

.header_isi {
  width: 335px;
  height: 230px;
  padding: 180px 0px 90px 480px;
}

.gambar {
  background-color: rgba(160, 109, 123 ,0.3);

  height: 330px;

  border-radius: 8px;

}
.form-group {
  background-color: rgba(160, 109, 123 ,0.3);

  height: 330px;

  border-radius: 8px;

}

img {
  width: 250px;
  height: 100px;
  margin-left: 45px;
  margin-top: 15px;

}

.login_regis {
  height: 40px;
  width: 260px;
  text-align: center;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  background-color: rgba(225, 255, 255, 0.4);
  border: 3px ;
  margin-left: 42px;
  margin-top: 10px;

}
.form-control {
  height: 40px;
  width: 260px;
  text-align: center;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  background-color: rgba(225, 255, 255, 0.4);
  
  margin-left: 42px;
  margin-top: 10px;

}

.tombol_login {
  width: 260px;
  height: 30px;
  text-align: center;
  background-color: #0288D1;
  color: white;
  font-size: 17px;
  border: 2px solid #0288D1;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 42px;
}

.chexbox {
  font-size: 15px;
  color: white;
  margin-left: 45px;
  margin-top: 10px;
}

/*.login_regis:hover {
  border: 3px solid #fff;
}*/

.tombol_login:hover {
  background-color: white;
  color: #0288D1;
  border: 2px solid white;
}

